.area_equacao input{

    width: 2em;
    text-align: end;
}

.area_equacao {
    padding-bottom: 4%;

    label, input {
        font-size: 1.25em;
        color: black;
    }
}

.title  {
    text-align : center;
    font-size: 4em; font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: blueviolet;
    padding-bottom: 2%;
}

.content {
    padding-top: 6%;
    align-items: center;
    text-align: center;
    background-color: #D3ACEF
}

.botoes_de_acao {

    padding: 1.25em;

    button {
        padding: 8px;
        font-size: 1.25em;
        margin: 15px;
    }
}
